header {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
}

#btn-head {
    margin-right: 5%;
}

h2{
    padding-right: 10%;
}


.logo {
    width:200px;
}

